/* Custom Style */

/* Header */

.container {
  justify-content: space-between !important;
}

.custom-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
  margin-right: 0 !important;
  font-size: .9rem;
  text-decoration: none !important;
}

.cart-count {
  font-size: 13px;
  padding: 2px 8px;
  border-radius: 50px;
  background: #f1f0ee;
}

/* Product */

.product-image {
  width: 100%;
}

/* Cart Page */

.breadcrumb {
  margin: 20px 0;
  gap: 10px;
}

.img-cart {
  display: block;
  max-width: 70px;
  height: auto;
  margin: 0 auto;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.table-responsive {
  overflow: unset !important;
}